
    /* Add custom CSS to position the content below the navbar */
    body {
      background-color: #f8f9fa;
    }

    .navbar {
      background-color: #343a40;
      color: #ffffff;
    }

    .navbar-brand {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .navbar-nav .nav-link {
      color: #0f0e0e;
      font-weight: bold;
    }

    .content {
      margin-top: 80px;
      background-color: #3a3535;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .card {
      margin-top: 20px;
    }
    .card-header {
      background-color: #343a40;
      color: #ffffff;
    }

    .form-group label {
      font-weight: bold;
    }

    textarea.form-control {
      resize: vertical;
    }

    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }

    .btn-primary:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }
  